<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608190798049-qd7ir5g0jimep8fpu24lndhe0dt29o45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608190798049-qd7ir5g0jimep8fpu24lndhe0dt29o45</string>
	<key>API_KEY</key>
	<string>AIzaSyBnRbuYKHTBRAnio3qignrOjHFjusdgfHU</string>
	<key>GCM_SENDER_ID</key>
	<string>608190798049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Card.BannerUI</string>
	<key>PROJECT_ID</key>
	<string>ibannerdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>ibannerdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608190798049:ios:f99e4146da81628321bfa0</string>
</dict>
</plist>